# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# Set file path
path = "output_data/cities.csv"

cities_df = pd.read_csv(path)

cities_df.head()

                City      Lat      Long   Temp  Humidity  Clouds  Winds
0            Ushuaia -54.8000  -68.3000  46.06        76      75   9.22
1            Mumford   5.2618   -0.7590  78.67        88      45  10.92
2             Barrow  71.2906 -156.7887  21.22        79      90   0.00
3        Bandarbeyla   9.4942   50.8122  76.59        89      65  12.97
4  Saint Paul Harbor  57.7900 -152.4072  43.29        87      90  34.52

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Store latitude and longitude in locations
locations = cities_df[["Lat", "Long"]]

# Fill NaN values and convert to float
rating = cities_df["Humidity"].astype(float)

In [6]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [39]:

drop_temp_lo = cities_df.index[cities_df['Temp'] < 74]
my_cities1 = cities_df.drop(drop_temp_lo, inplace=False)

drop_temp_hi = my_cities1.index[my_cities1['Temp'] > 78]
my_cities2 = my_cities1.drop(drop_temp_hi, inplace=False)

drop_humid_hi = my_cities2.index[my_cities2['Humidity'] > 40]
my_cities3 = my_cities2.drop(drop_humid_hi, inplace=False)

drop_cloudy = my_cities3.index[my_cities3['Clouds'] >= 40]
my_cities4 = my_cities3.drop(drop_cloudy, inplace=False)

drop_windy = my_cities4.index[my_cities4['Winds'] > 10]
my_cities = my_cities4.drop(drop_windy, inplace=False)

my_cities.reset_index(drop=True)

            City      Lat      Long   Temp  Humidity  Clouds  Winds
0    Meadow Lake  34.8014 -106.5436  75.97        24      30   8.86
1        Douglas  41.3000  -96.1670  77.99        30       1   5.01
2     Hutchinson  38.0608  -97.9298  76.35        37       1   1.01
3   North Platte  41.1239 -100.7654  76.98        23       1   1.99
4      Mount Isa -20.7333  139.5000  74.97        31       7   0.00
5    Walla Walla  46.0646 -118.3430  76.06        38       1   1.99
6       Vallenar -28.5708  -70.7581  74.37        32       0   5.77
7          Kutum  14.2000   24.6667  77.95        20       2   7.56
8      Shikarpur  27.9571   68.6379  74.53        12       0   3.71
9          Mīnāb  27.1467   57.0801  76.50        25       0   1.77
10     Los Andes -32.8337  -70.5983  74.97        19       0   8.03

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure